#name {
    width: 100px;
    height: 20px;
    background-color: lightgrey;
    animation: move 2s infinite;
  }
  
  #body {
    background-color: #ffffff; 
    height: 875px;
  }
  
  #footer {
    background-color: #C7C5C5;
    height: 210px;
  }

  #header {
    background-color: #F4FAEA;
    height: 70px;
  }

  #circle {
    max-width: 10%; 
    max-height: 10%;
  }

  #logo {
    max-width: 50%; 
    max-height: 50%;
    margin-top: -10px;
  }

  div,p {
    font-size: 10px;
  }

  ul {
    list-style-type: none;
    margin-top: 9px;
    margin-right: 200px;
    padding: 0;
    overflow: hidden;
    float: right;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #E2002B;
    text-align: center;
    font-size: 16px;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    font-size: 18px;
    font-weight: bold;
  }
  
  @keyframes move {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  /*
style="animation: 1s ease-out 0s 1 move;"
  */