<!DOCTYPE html>
<html>
<head>
  <title>Welcome - Arabic Root Dictionary</title>
  <!--bootstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!--css stylesheet-->
  <link rel="stylesheet" type="text/css" href="indexCSS">
</head>
<body style="background-color: #E2002B;">
  <div style="width: 96%; margin-left: 2%;">
    <div id="header">
      <div style="float: left; margin-top: 2px;">
        <a href="https://www.wpi.edu" style="margin-left: 380px;">
          <img src="circle" id="circle"/>
        </a>
      </div>
      <div style="float: left;"> 
        <p style="font-size: 28px; margin-top: 13px; margin-left: 150px;">
          <b>Arabic Root Dictionary</b>
        </p>
      </div>
      <div style="float: right;">
        <ul>
          <li><a href="error">Report an Error</a></li>
          <li><a href="about">About</a></li>
          <li><a href="arabic">Get Started</a></li>
          <li><a href="/">Home</a></li>
        </ul>
      </div>
    </div>
    <div>
      <div id="body">
        <div style="margin: auto; width: 50%;">
          <div style="margin: auto; width: 25%;">
            <img src="moroccoGIF" style="margin-left: auto; margin: auto;"/>
          </div>
        </div>
        <form action="arabic">
          <input type="submit" />
        </form>      
      </div>
    </div>
  </div>
  <div id="footer">
    <div style="float: left; width: 30%; margin-left: 350px;">
      <img src="wpi" id="logo" />
    </div>
    <div style="float: left; margin-left: -100px;">
      <p style="font-size: 18px; margin-top: 60px;"><b>WPI Humanities & Arts Department</b><br>Arabic Program<br>Moroccan Project Center</p>
    </div>
    <div style="float: right; margin-right: 400px;">
      <p style="font-size: 18px; margin-top: 60px;"><b>Contact the department</b><br>508-831-5246<br>huaweb@wpi.edu</p>
    </div>
  </div>
</body>
</html>
<!-- https://wp.wpi.edu/morocco/?_ga=2.174584930.1792613711.1597065811-1607612743.1591189808 -->