<!DOCTYPE html>
<html>
  <head>
    <title>Welcome - Arabic Root Dictionary</title>
    <link rel='shortcut icon' type='image/x-icon' href="/favicon.ico" />
    <!-- yamli api-->
    <script type="text/javascript" src="/api"></script>
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--css stylesheet-->
    <link rel="stylesheet" type="text/css" href="indexCSS">
  </head>
  <body style="background-color: #E2002B;">
    <div style="width: 96%; margin-left: 2%;">
      <div id="header" style="border-bottom: black 1px solid;">
        <div style="float: left; margin-top: 2px;">
          <a href="https://www.wpi.edu" style="margin-left: 380px;">
            <img src="circle" id="circle"/>
          </a>
        </div>
        <div style="float: left;"> 
          <p style="font-size: 28px; margin-top: 13px; margin-left: 150px;">
            <b>Arabic Root Dictionary</b>
          </p>
        </div>
        <div style="float: right;">
          <ul>
            <!-- <li><a href="error">Report an Error</a></li> -->
            <li><a href="https://wp.wpi.edu/morocco/">About</a></li>
            <li><a href="/">Home</a></li>
          </ul>
        </div>
      </div>
      <div>
        <div id="body">
          <div style="margin: auto; width: 50%;">
            <div style="margin: auto; width: 25%;">
              <img src="moroccoGIF" style="margin-left: auto; margin: auto;"/>
            </div>
          </div>
          <div style="margin-left: 45%;" id="formDiv">
            <div>
              <p style="margin-left: -10%; font-size: 36px;">Submit transliteration!</p>
            </div>
              <form action="submitArabic" method="POST" enctype="application/json">
                  <input type="textarea" id="text" style="height: 34px">
                  <input type="submit" class="btn btn-primary" value="Submit" onclick="submitform(); return false">
              </form>
              <div>
                <p style="margin-left: -10%; font-size: 36px;"><br>Or upload a photo!</p>
              </div>
              <form action="submit" method="POST" enctype="multipart/form-data">
                <input type="file" style="height: 34px" name="Img" /><br>
                <input type="submit" value="Submit" style="margin-left: 3.5%;" class="btn btn-success">
              </form>      
          </div>
          </div>
      </div>
    </div>
    <div id="footer">
      <div style="float: left; width: 30%; margin-left: 350px;">
        <img src="wpi" id="logo" />
      </div>
      <div style="float: left; margin-left: -100px;">
        <p style="font-size: 18px; margin-top: 60px;"><b>WPI Humanities & Arts Department</b><br>Arabic Program<br>Moroccan Project Center</p>
      </div>
      <div style="float: right; margin-right: 400px;">
        <p style="font-size: 18px; margin-top: 60px;"><b>Contact the department</b><br>508-831-5246<br>huaweb@wpi.edu</p>
      </div>
    </div>
  </body>
  <script>
    //settings
    /*yamli settings*/
    if (typeof(Yamli) == 'object' && Yamli.init({ startMode:'on' })){
      Yamli.yamlify('text', {settingsPlacement:'hide', uiLanguage:'en'});
    }
    //methods 
    function submitform(){
      var formData = document.getElementById("text").value 
      console.log(formData)
      var jsonform = {data: formData}
      var jsonObj = JSON.stringify(jsonform)
      console.log(jsonObj)
      $.ajax({
        type: "POST",
        url: "submitArabic",
        data: jsonObj,
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        success: function(res){
          //TODO: Error handle the stuff that I fixed in the back end
          var replace = document.getElementById("formDiv")
          var frontJSON = {}
          frontJSON.wordArr = []
          var results = JSON.parse(res)
          console.log(results)
          frontJSON.root = JSON.parse(results.root).build
          frontJSON.rootMeaning = JSON.parse(results.root).buildMeaning
          var wordArr = JSON.parse(results.rootMeaning).words.split("\n")
          frontJSON.wordMeaning = JSON.parse(results.wordMeaning).text[0]
          frontJSON.word = results.word
          wordArr.forEach(function(obj){
            if(obj.includes("(")){
              frontJSON.wordArr.push(obj)
            }
          })
          // replace.replaceWith(frontJSON[ents]);
          var div = document.createElement("div")
          var divOne = document.createElement("div")
          var divTwo = document.createElement("div")
          var divThree = document.createElement("div")
          var divFour = document.createElement("div")
          var divFive = document.createElement("div")
          var newLine = document.createElement("br")
          var word = document.createTextNode(frontJSON.word)
          var table = document.createElement("table")
          var tblBody = document.createElement("tbody")
          for(let items in frontJSON.wordArr){
            var row = document.createElement("tr")
            var col = document.createElement("td")
            var words = document.createTextNode(frontJSON.wordArr[items])
            col.append(words)
            row.append(col)
            tblBody.append(row)
          }
          table.append(tblBody)
          divOne.style.cssText = "text-align:center;"
          divOne.style.fontSize = "x-large"
          divTwo.style.cssText = "overflow:scroll"
          var meaningRoot = document.createTextNode(frontJSON.rootMeaning)
          var rootAppend = document.createTextNode(frontJSON.root)
          var meaningWord = document.createTextNode(frontJSON.wordMeaning)
          divOne.append(word)
          divTwo.append(table)
          divThree.append(meaningRoot)
          divFour.append(rootAppend)
          divFive.append(meaningWord)
          div.append(divOne)
          div.append(divTwo)
          div.append(divThree)
          div.append(divFour)
          div.append(divFive)
          for(var i = 0; i < frontJSON.word.length; i++){
            console.log(frontJSON.word[i])
          }
          replace.replaceWith(div);
        }
      })
    }
  </script>
</html>