<!DOCTYPE html>
<html>
  <head>
    <title> Welcome </title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
    <!--angularjs-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <!--controller-->
    <script src="indexCtrl"></script>
  </head>
  <body ng-app="indexBody" style="background: url('back') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    <div ng-controller="indexCtrl">
      <button ng-click="clicked()">Click to continue!</button>
    </div>
  </body>
</html>